
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Buda:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
    margin:0;
    padding:0;   
}




body{
    background-color: #D9AFD9;
    background-image: linear-gradient(180deg, #f7e6f7 0%, #cfeff3 100%);
    font-family: 'IBM Plex Sans', sans-serif;
    

    &.dark {
        background: #3c3d3f;
        transition: 0.10s ease all;
        
    }
}
h2{
    font-size:3vw;
    transition: all 0.5s;
}

/*------------------
SWITCH MODO NOCTURNO
-------------------*/
.switch{
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    width: 60px;
    margin-right:15px ;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    &::after{
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;/*para posicionar el boton*/
        background: #f1f1f1;
        top: 0;
        left: 0;
        right: unset;
        border-radius: 100px;
        transition: .3s ease all;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
    }
    &.active{
        background: orange;
        &::after{
            left: unset;
            right: 0;
        }
    span{
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background: none;

    }
    
    }

}




/*--------
NAVBAR
---------*/
.navbar {
    padding: 0;
    background-color: #9255e75b;
    background-image: linear-gradient(180deg, #944df87e 0%, #482f8370 100%);
    box-shadow:0 8px 32px 0 rgba(3, 3, 3, 0.37);
    z-index: 2;
    
    body.dark &{
        background: #343d5b;
        .navbar-nav a{
            color: #ebe7f0;
            &:hover{
                color: #ffffff;
                background-color: #a99db95b;
                box-shadow:0 8px 32px 0 rgba(27, 27, 27, 0.37);
            }
            &:active{
                color: #e4e2e2;
                background-color: #27222e5b;
            }
        }
    }

}
.navbar-nav a {
    color: rgb(255, 255, 255);
    background-color: transparent;
    transition: color 0.3s, background-color 0.3s;
    font-size: 1.5rem;
} 
  /* Efecto de escala y color al pasar el mouse sobre los enlaces */
.navbar-nav a:hover {
    background-color: rgba(92, 15, 163, 0.151);
}
  /* Efecto de color al hacer clic en los enlaces */
.navbar-nav a:active {
    color: rgb(236, 236, 236);
    background-color: rgba(41, 18, 63, 0.397);
}



/*----------------
PORTADA
-----------------*/
.hero{
    width: 100%;
    height:30vw ;
    background-image: url(img/header.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
    filter: opacity(80%);
    
    body.dark &{
        filter: brightness(80%);
        .hero-container{
            background-color: rgba(71, 53, 105, 0.767);
            color: rgb(255, 255, 255);
            z-index: 4;
            border-radius: 60px;
        }
    }
}
.hero-container{
    width: 75%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px); /* Ajusta el valor para cambiar el grado de desenfoque */
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: 0.5s ease all;
}
.hero-container:hover{
    box-shadow: 0 0 20px rgba(181, 109, 248, 0.658);    
}
.hero-container h1{
    font-size: 5vw;
    
}
.hero-container p{
    font-size: 2vw;
}

/*--------------
BOTON
BACK TO TOP 
--------------*/
#myBtn {
    display: none;
    width: 4rem; 
    position: fixed; 
    right: 30px;
    bottom: 10px;
    z-index: 5;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #dbbddba1;
    body.dark &{
        background-color: #695a69a1;
        i{
            color: white;
        }
    }
}
#myBtn:hover {
    background-color: #945ca19c; 
}
#myBtn i{
    font-size: 25px;
}

/*----------------
ACERCA DE 
----------------*/

.containerAcercaDe{
    width: 80%;
    margin: 4rem auto 0;
    background: rgba(128, 100, 219, 0.479);
    background: linear-gradient(0deg, rgba(233, 142, 245, 0.432) 0%,rgba(111, 84, 201, 0.39) 100%); 
    border-radius: 18px;
    box-shadow: 0px 5px 10px 2px  #1a1c1d5e;
    backdrop-filter: blur(10px);
    padding: 5px;
    transition: 0.5s ease all;
    body.dark &{
        background: rgba(86, 80, 99, 0.479);
    background: linear-gradient(0deg, rgba(106, 82, 109, 0.432) 0%,rgba(90, 80, 122, 0.39) 100%); 
    border-radius: 0px 40px 40px 0px;
-moz-border-radius: 0px 40px 40px 0px;
-webkit-border-radius: 0px 40px 40px 0px;
margin-left: 0;
transition: 0.5s ease all;
    h2, p{
        color: rgb(231, 228, 228);
    }
    
    }
}
.containerAcercaDe:hover{
    box-shadow: 0 0 20px rgba(181, 109, 248, 0.658);
}
.containerAcercaDe h2:hover{
    letter-spacing: 0.25rem;
    text-shadow:  5px 5px 50px rgb(204, 198, 216);
}
.containerAcercaDe p{
    font-size: 1.5vw;
    text-align: justify;
}

/*-----------------
MI STACK
------------------*/

.containerMiStack{
    width: 80%;
    margin: 4rem auto 0; 
    transition: 0.5s ease all;
    body.dark &{
        background: rgba(86, 80, 99, 0.479);
        background: linear-gradient(0deg, rgba(106, 82, 109, 0.432) 0%,rgba(90, 80, 122, 0.39) 100%);
        border-radius: 0px 0px 50px 50px;
    -moz-border-radius: 0px 0px 50px 50px;
    -webkit-border-radius: 0px 0px 50px 50px;
        &:hover{
            box-shadow: 0 0 20px rgba(181, 109, 248, 0.658);
        }
    h2{
        color: white;
    }
    .itemSkills{
        background-color: #9b9a9a;
    }
    .progress-bar{
        background-color: #343d5b;
    }
    .containerSkills img:hover {
         filter:brightness(140%);
        
    }
}
}
.containerSkills img{        
    height: 12vw; 
    transition: all 0.5s;
    
}
.containerSkills img:hover {
    filter: opacity(.5);
    
}
.containerMiStack h2:hover{
    letter-spacing: 0.25rem;
    color: black;
    text-shadow:  5px 5px 50px rgb(204, 198, 216);
}


/*-----------------
MIS PROYECTOS
------------------*/
.containerMisProyectos{
    width: 90%;
    border-radius: 10px;
    background: rgba(131, 105, 218, 0.452);
    background: linear-gradient(0deg, rgba(121, 92, 216, 0.438) 0%, rgba(240, 150, 252, 0.349) 100%);
    border-radius: 50px 50px 50px 50px;
-moz-border-radius: 50px 50px 50px 50px;
-webkit-border-radius: 50px 50px 50px 50px;

    body.dark &{
        background: rgba(86, 80, 99, 0.479);
        background: linear-gradient(0deg, rgba(106, 82, 109, 0.432) 0%,rgba(90, 80, 122, 0.39) 100%);
        &:hover{
            box-shadow: 0 0 20px rgba(181, 109, 248, 0.658);
        }
    h2{
        color: white;
        &:hover{
            text-shadow:  5px 5px 50px rgb(204, 198, 216);
        }
    }
    .containerOrquideario{
        background-color: #7d7d7e;
        a:hover{
            color: rgb(228, 227, 227);
        }
    }
    }
}
.containerMisProyectos h2:hover{
    letter-spacing: 0.25rem;
    color: black;
}
.containerOrquideario{
    width: 75%;
     border-radius:30px 50px 50px 100px;
    background-color: #cfeff38c;
    box-shadow: 0px 5px 10px 2px  #1a1c1d5e;
}

.containerOrquideario a{
    font-size: 1.5rem;
    position:relative;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 400;
    transition: 0.5s;

}
.containerOrquideario a:hover { 
    letter-spacing: 0.25rem;
    background: var(--clr);
    color: black;
    box-shadow:0 0 35px (--clr) ;
}

.containerOrquideario a:active{
    border-radius: 50px;
    animation: gradientChange 2s ease-in-out infinite;
    }
@keyframes gradientChange {
    0% {

    }
    35% {
        background-color: rgba(101, 78, 175, 0.479);
    }
    70% {
        background-color: rgba(184, 166, 235, 0.39);
    }
    100% {

    }
    
}
.containerOrquideario a span{
    position:relative;
    z-index:1;
}
.containerOrquideario article{
    width: 90%;
    height: 430px;
}
.containerOrquideario article img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.containerOrquideario article img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
/* 
hacer que al hacer clic en la imagen se abra un carrucel con fondo opaco
.containerOrquideario article img::active{
    transform: scale(3);
}

/*-----------
FOOTER
------------*/
footer{
    background-color: #9456eb5e;
    background-image: linear-gradient(180deg, #40297775 0%, #a467f87a 100%);
    box-shadow:0 8px 32px 0 rgba(31,38,135,0.37);
    body.dark &{
        background: #343d5b;
    }
    .nav-link i:hover{
        filter: none;
        color: rgb(218, 214, 214);
    }
}
.nav-link i{
    color: #fff;
    font-size: 2rem;
    transition: all 0.3s;

}
.nav-link i:hover{
    filter: invert(100%);
    transform: scale(1.4);

}
/*-----------
RESPONSIVE
-----------*/
@media (min-width: 1200px){
    .navbar-nav a {

        font-size: 2vw;
    } 
    .hero-container h1{
        font-size: 5vw;
        
    }
    .hero-container p{
        font-size: 2vw;
    }
}
@media (max-width: 992px){
    .navbar-nav a{
        border-bottom: 1.5px solid hsla(0, 0%, 2%, 0.100);
        text-align: center;
    }
    .navbar-nav a:first-child{
        border-top: 1.5px solid hsla(0, 0%, 2%, 0.100);

    }
    .switch{
        margin: 10px auto;
    }
}
@media (max-width: 576px){
    h2{
        font-size:7vw;
    }

    .navbar-nav a{
        font-size: 1rem;
    }
    .hero{
        height:60vw ;
    }
    .hero-container h1,.containerMiStack h2{
        font-size: 7vw;
        
    }
    .hero-container p{
        font-size: 3vw;
    }
    .containerAcercaDe p{
        font-size: 3.5vw;
    }
    .containerSkills img{
        height: 15vh;
    }
    .itemSkills{
        width: 50%;
        margin: 0;
    }    

    .containerOrquideario{
        height: 100%;
    }
    .containerOrquideario a:hover{
        letter-spacing: 0.15rem;
    }
    .containerOrquideario article{
        display: flex;
        flex-direction: column;    
        height: 100%;
    }
    .containerOrquideario article img{
        display: flex;
        flex-direction: column;
        margin: 5px auto;
        width: 100%;
        height: 20%;
    }
    .containerOrquideario article img:hover{
        cursor: crosshair;
        width: 100%;
        opacity: 1;
        filter: contrast(120%);
    }
}
@media (max-width: 375px){
    h2{
        font-size:8vw;
    }
    .hero{
        height:70vw ;       
    }
    .hero-container{
        width: 100%;
    }
    .hero-container h1{
        font-size: 8vw;
        
    }
    .hero-container p{
        font-size: 4vw;
    }

    .containerAcercaDe p{
        font-size: 4vw;
    }
    .containerOrquideario a{
        font-size: 3.8vw;
    }
    .containerOrquideario a{
        
    }
    }
