@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Buda:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #D9AFD9;
  background-image: linear-gradient(180deg, #f7e6f7 0%, #cfeff3 100%);
  font-family: "IBM Plex Sans", sans-serif;
}
body.dark {
  background: #3c3d3f;
  transition: 0.1s ease all;
}

h2 {
  font-size: 3vw;
  transition: all 0.5s;
}

/*------------------
SWITCH MODO NOCTURNO
-------------------*/
.switch {
  background: #343d5b;
  border-radius: 1000px;
  border: none;
  width: 60px;
  margin-right: 15px;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}
.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute; /*para posicionar el boton*/
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.switch.active {
  background: orange;
}
.switch.active::after {
  left: unset;
  right: 0;
}
.switch.active span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
}

/*--------
NAVBAR
---------*/
.navbar {
  padding: 0;
  background-color: rgba(146, 85, 231, 0.3568627451);
  background-image: linear-gradient(180deg, rgba(148, 77, 248, 0.4941176471) 0%, rgba(72, 47, 131, 0.4392156863) 100%);
  box-shadow: 0 8px 32px 0 rgba(3, 3, 3, 0.37);
  z-index: 2;
}
body.dark .navbar {
  background: #343d5b;
}
body.dark .navbar .navbar-toggler-icon {
  filter: invert(100%);
}
body.dark .navbar .navbar-nav a {
  color: #ebe7f0;
}
body.dark .navbar .navbar-nav a:hover {
  color: #ffffff;
  background-color: rgba(169, 157, 185, 0.3568627451);
  box-shadow: 0 8px 32px 0 rgba(27, 27, 27, 0.37);
}
body.dark .navbar .navbar-nav a:active {
  color: #e4e2e2;
  background-color: rgba(39, 34, 46, 0.3568627451);
}

.navbar-nav a {
  color: rgb(255, 255, 255);
  background-color: transparent;
  transition: color 0.3s, background-color 0.3s;
  font-size: 1.5rem;
}

/* Efecto de escala y color al pasar el mouse sobre los enlaces */
.navbar-nav a:hover {
  background-color: rgba(92, 15, 163, 0.151);
}

/* Efecto de color al hacer clic en los enlaces */
.navbar-nav a:active {
  color: rgb(236, 236, 236);
  background-color: rgba(41, 18, 63, 0.397);
}

/*----------------
PORTADA
-----------------*/
.hero {
  width: 100%;
  height: 30vw;
  background-image: url(img/header.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  filter: opacity(80%);
}
body.dark .hero {
  filter: brightness(80%);
}
body.dark .hero .hero-container {
  background-color: rgba(71, 53, 105, 0.767);
  color: rgb(255, 255, 255);
  z-index: 4;
  border-radius: 60px;
}

.hero-container {
  width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: 0.5s ease all;
}

.hero-container:hover {
  box-shadow: 0 0 20px rgba(181, 109, 248, 0.658);
}

.hero-container h1 {
  font-size: 5vw;
}

.hero-container p {
  font-size: 2vw;
}

/*--------------
BOTON
BACK TO TOP 
--------------*/
#myBtn {
  display: none;
  width: 4rem;
  position: fixed;
  right: 30px;
  bottom: 10px;
  z-index: 5;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgba(219, 189, 219, 0.631372549);
}
body.dark #myBtn {
  background-color: rgba(105, 90, 105, 0.631372549);
}
body.dark #myBtn:hover {
  background-color: #88898f;
}
body.dark #myBtn i {
  color: white;
}

#myBtn:hover {
  background-color: rgba(148, 92, 161, 0.6117647059);
}

#myBtn i {
  font-size: 25px;
}

/*----------------
ACERCA DE 
----------------*/
.containerAcercaDe {
  width: 80%;
  margin: 4rem auto 0;
  background: rgba(128, 100, 219, 0.479);
  background: linear-gradient(0deg, rgba(233, 142, 245, 0.432) 0%, rgba(111, 84, 201, 0.39) 100%);
  border-radius: 18px;
  box-shadow: 0px 5px 10px 2px rgba(26, 28, 29, 0.368627451);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 5px;
  transition: 0.5s ease all;
  animation-name: slideOut;
  animation-duration: 0.5s;
}
body.dark .containerAcercaDe {
  background: rgba(86, 80, 99, 0.479);
  background: linear-gradient(0deg, rgba(106, 82, 109, 0.432) 0%, rgba(90, 80, 122, 0.39) 100%);
  border-radius: 0px 40px 40px 0px;
  -moz-border-radius: 0px 40px 40px 0px;
  -webkit-border-radius: 0px 40px 40px 0px;
  margin-left: 0;
  transition: 0.5s ease all;
  animation-name: slideIn;
  animation-duration: 0.5s;
}
body.dark .containerAcercaDe h2, body.dark .containerAcercaDe p {
  color: rgb(231, 228, 228);
}

.containerAcercaDe:hover {
  box-shadow: 0 0 20px rgba(181, 109, 248, 0.658);
}

.containerAcercaDe h2:hover {
  letter-spacing: 0.25rem;
  text-shadow: 5px 5px 50px rgb(204, 198, 216);
}

.containerAcercaDe p {
  font-size: 1.5vw;
  text-align: justify;
}

@keyframes slideIn {
  from {
    margin-left: 7%;
  }
  to {
    margin-left: 0;
  }
}
@keyframes slideOut {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 10%;
  }
}
.slideIn {
  animation: slideIn 5s;
}

/*-----------------
MI STACK
------------------*/
.containerMiStack {
  width: 80%;
  margin: 4rem auto 0;
  transition: 0.5s ease all;
}
body.dark .containerMiStack {
  background: rgba(86, 80, 99, 0.479);
  background: linear-gradient(0deg, rgba(106, 82, 109, 0.432) 0%, rgba(90, 80, 122, 0.39) 100%);
  border-radius: 40px 70px 40px 70px;
  -webkit-border-radius: 40px 70px 40px 70px;
  -moz-border-radius: 40px 70px 40px 70px;
}
body.dark .containerMiStack:hover {
  box-shadow: 0 0 20px rgba(181, 109, 248, 0.658);
}
body.dark .containerMiStack h2 {
  color: white;
}
body.dark .containerMiStack .itemSkills {
  background-color: #9b9a9a;
}
body.dark .containerMiStack .progress-bar {
  background-color: #343d5b;
}
body.dark .containerMiStack .containerSkills img:hover {
  filter: brightness(140%);
}

.containerSkills img {
  height: 12vw;
  transition: all 0.5s;
}

.containerSkills img:hover {
  filter: opacity(0.5);
}

.containerMiStack h2:hover {
  letter-spacing: 0.25rem;
  color: black;
  text-shadow: 5px 5px 50px rgb(204, 198, 216);
}

/*-----------------
MIS PROYECTOS
------------------*/
.containerMisProyectos {
  width: 90%;
  border-radius: 10px;
  background: rgba(131, 105, 218, 0.452);
  background: linear-gradient(0deg, rgba(121, 92, 216, 0.438) 0%, rgba(240, 150, 252, 0.349) 100%);
  border-radius: 50px 50px 50px 50px;
  -moz-border-radius: 50px 50px 50px 50px;
  -webkit-border-radius: 50px 50px 50px 50px;
  transition: 0.5s ease all;
  box-shadow: 0px 5px 10px 2px rgba(26, 28, 29, 0.368627451);
}
body.dark .containerMisProyectos {
  background: rgba(86, 80, 99, 0.479);
  background: linear-gradient(0deg, rgba(106, 82, 109, 0.432) 0%, rgba(90, 80, 122, 0.39) 100%);
}
body.dark .containerMisProyectos:hover {
  box-shadow: 0 0 20px rgba(181, 109, 248, 0.658);
}
body.dark .containerMisProyectos h2 {
  color: white;
}
body.dark .containerMisProyectos h2:hover {
  text-shadow: 5px 5px 50px rgb(204, 198, 216);
}
body.dark .containerMisProyectos .containerOrquideario {
  background-color: #7d7d7e;
}
body.dark .containerMisProyectos .containerOrquideario a:hover {
  color: rgb(228, 227, 227);
}

.containerMisProyectos h2:hover {
  letter-spacing: 0.25rem;
  color: black;
}

.containerOrquideario {
  width: 75%;
  border-radius: 30px 50px 50px 100px;
  background-color: rgba(207, 239, 243, 0.5490196078);
  box-shadow: 0px 5px 10px 2px rgba(26, 28, 29, 0.368627451);
}

.containerOrquideario a {
  font-size: 1.2rem;
  position: relative;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 400;
  transition: 0.5s ease all;
}

.containerOrquideario a:hover {
  letter-spacing: 0.15rem;
  background: var(--clr);
  color: black;
  box-shadow: 0 0 35px --clr;
  border-radius: 50px;
}

.containerOrquideario a:active {
  border-radius: 50px;
  animation: gradientChange 1s linear infinite alternate;
  transition: 0.5s ease all;
}

@keyframes gradientChange {
  0% {
    background: var(--clr);
  }
  50% {
    background: rgb(184, 166, 235);
  }
  100% {
    background: rgb(153, 134, 211);
  }
}
.containerOrquideario a span {
  position: relative;
  z-index: 1;
}

.containerOrquideario article {
  width: 90%;
  height: 430px;
}

.containerOrquideario article img {
  width: 0px;
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}

.containerOrquideario article img:hover {
  cursor: pointer;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

/* Overlay styles */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  background: rgba(0, 0, 0, 0.658);
  z-index: 1000;
}

.overlay-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.overlay-img {
  max-width: 100%;
  max-height: 70%;
  padding: 10px;
}

.overlay-prev,
.overlay-next {
  font-size: 3rem;
  color: white;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 5px;
  transition: 0.1s all;
}

.overlay-prev:hover,
.overlay-next:hover {
  color: #e2e1e1;
  transform: scale(1.1);
  text-shadow: -2px 2px 10px #e5b9f0;
}

.overlay-prev:active,
.overlay-next:active {
  color: #f0d6f5;
  text-shadow: 2px 2px 10px #cf62eb;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 3rem;
  color: white;
  cursor: pointer;
}

.close-btn:hover {
  color: rgb(221, 217, 217);
}

/*-----------
FOOTER
------------*/
footer {
  background-color: rgba(148, 86, 235, 0.368627451);
  background-image: linear-gradient(180deg, rgba(64, 41, 119, 0.4588235294) 0%, rgba(164, 103, 248, 0.4784313725) 100%);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
body.dark footer {
  background: #343d5b;
}
body.dark footer .nav-link i:hover {
  filter: none;
  color: rgb(218, 214, 214);
}
footer .nav-link i {
  color: #fff;
  font-size: 2rem;
  transition: all 0.3s;
}
footer .nav-link i:hover {
  color: #000000;
  transform: scale(1.4);
}

/*-----------
RESPONSIVE
-----------*/
@media (min-width: 1200px) {
  .navbar-nav a {
    font-size: 2vw;
  }
  .hero-container h1 {
    font-size: 5vw;
  }
  .hero-container p {
    font-size: 2vw;
  }
}
@media (max-width: 992px) {
  h2 {
    font-size: 4vw;
  }
  .navbar-nav a {
    border-bottom: 1.5px solid hsla(0, 0%, 2%, 0.1);
    text-align: center;
  }
  .navbar-nav a:first-child {
    border-top: 1.5px solid hsla(0, 0%, 2%, 0.1);
  }
  .containerAcercaDe p {
    font-size: 1.9vw;
  }
  .switch {
    margin: 10px auto;
  }
}
@media (max-width: 576px) {
  h2 {
    font-size: 7vw;
  }
  .navbar-nav a {
    font-size: 1rem;
  }
  .hero {
    height: 60vw;
  }
  .hero-container h1, .containerMiStack h2 {
    font-size: 7vw;
  }
  .hero-container p {
    font-size: 3vw;
  }
  .containerAcercaDe p {
    font-size: 3.5vw;
  }
  .containerSkills img {
    height: 15vh;
  }
  .itemSkills {
    width: 50%;
    margin: 0;
  }
  .containerOrquideario {
    height: 100%;
  }
  .containerOrquideario a:hover {
    letter-spacing: 0.15rem;
  }
  .containerOrquideario article {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .containerOrquideario article img {
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    width: 100%;
    height: 20%;
  }
  .containerOrquideario article img:hover {
    width: 100%;
    opacity: 1;
    filter: contrast(120%);
  }
  .overlay-img {
    max-width: 80%;
    max-height: 70%;
    padding: 5px;
  }
}
@media (max-width: 375px) {
  h2 {
    font-size: 8vw;
  }
  .hero {
    height: 70vw;
  }
  .hero-container {
    width: 100%;
  }
  .hero-container h1 {
    font-size: 8vw;
  }
  .hero-container p {
    font-size: 4vw;
  }
  .containerAcercaDe p {
    font-size: 4vw;
  }
  .containerOrquideario a {
    font-size: 3.8vw;
  }
  .containerSkills .itemSkills {
    width: 90%;
  }
}/*# sourceMappingURL=styles.css.map */