
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Buda:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'IBM Plex Sans', sans-serif;
    
}

body{
background: rgb(219,193,219);
background: linear-gradient(0deg, rgba(219,193,219,0.5344827586206897) 0%, rgba(170,207,210,0.5172413793103448) 100%);

}
.navbar {
    padding: 0;
    background-color: #9255e75b;
    background-image: linear-gradient(180deg, #9853f87e 0%, #48337a70 100%);
    box-shadow:0 8px 32px 0 rgba(31,38,135,0.37);
    z-index: 2;
}
.navbar-nav a {
    color: rgb(255, 255, 255);
    background-color: transparent;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
    font-size: 1.5rem;
} 
  /* Efecto de escala y color al pasar el mouse sobre los enlaces */
.navbar-nav a:hover {
    background-color: rgba(86, 21, 146, 0.151);
}
  /* Efecto de color al hacer clic en los enlaces */
.navbar-nav a:active {
    color: rgb(236, 236, 236);
    background-color: rgba(41, 18, 63, 0.527);
}

.hero{
    width: 100%;
    height:30vw ;
    background-image: url(img/header.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
    filter: opacity(90%);
    
}
.hero-container{
    width: 75%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px); /* Ajusta el valor para cambiar el grado de desenfoque */
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.hero-container h1{
    font-size: 5vw;
    
}
.hero-container p{
    font-size: 2vw;
}


/*--------------
BOTON
BACK TO TOP 
--------------*/
#myBtn {
    display: none;
    width: 4rem; 
    position: fixed; 
    right: 30px;
    bottom: 10px;
    z-index: 5;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #dbbddba1;
}
#myBtn:hover {
    background-color: #945ca19c; 
}

/*----------------
ACERCA DE 
----------------*/

.containerAcercaDe{
    width: 80%;
    margin: 4rem auto 0;
    background: rgba(128, 100, 219, 0.479);
    background: linear-gradient(0deg, rgba(233, 142, 245, 0.384) 0%,rgba(127, 101, 212, 0.39) 100%); 
    border-radius: 18px;
    box-shadow: 0px 5px 10px 2px  #1a1c1d5e;
    backdrop-filter: blur(10px);
    padding: 5px;
    transition: all 0.5s;

}
.containerAcercaDe:hover{
    box-shadow: 0 0 20px rgba(181, 109, 248, 0.658);
}
.containerAcercaDe h2{
    font-size:3vw;
    transition: all 0.5s;
}
.containerAcercaDe h2:hover{
    letter-spacing: 0.25rem;
    color: black;
}
.containerAcercaDe p{
    font-size: 1.5vw;
    text-align: justify;
}

/*-----------------
MI STACK
------------------*/

.containerSkills img{        
    height: 12vw; 
    transition: all 0.5s;
}
.containerSkills img:hover {
    filter: opacity(.5);
    
}
.containerMiStack h2{
    font-size:3vw;
    transition: all 0.5s;
}
.containerMiStack h2:hover{
    letter-spacing: 0.25rem;
    color: black;
}


/*-----------------
MIS SKILLS
------------------*/
.containerMisProyectos{
    width: 90%;
}
.containerMisProyectos h2{
    font-size: 3vw;
    transition:all 0.5s;
}
.containerMisProyectos h2:hover{
    letter-spacing: 0.25rem;
    color: black;
}
.containerOrquideario{
    background: rgba(131, 105, 218, 0.452);
    background: linear-gradient(0deg, rgba(121, 92, 216, 0.438) 0%, rgba(240, 150, 252, 0.349) 100%);
    border-radius: 18px;
    box-shadow: 0px 5px 10px 2px  #1a1c1d5e;
}

.containerOrquideario a{
    font-size: 1.5rem;
    position:relative;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 400;
    transition: 0.5s;

}
.containerOrquideario a:hover { 
    letter-spacing: 0.25rem;
    background: var(--clr);
    color: black;
    box-shadow:0 0 35px (--clr) ;
}

.containerOrquideario a:active{
    border-radius: 50px;
    animation: gradientChange 2s ease-in-out infinite;
    }
@keyframes gradientChange {
    0% {

    }
    35% {
        background-color: rgba(101, 78, 175, 0.479);
    }
    70% {
        background-color: rgba(184, 166, 235, 0.39);
    }
    100% {

    }
    
}
.containerOrquideario a span{
    position:relative;
    z-index:1;
}
.containerOrquideario article{
    width: 90%;
    height: 430px;
}
.containerOrquideario article img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.containerOrquideario article img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
/* 
hacer que al hacer clic en la imagen se abra un carrucel con fondo opaco
.containerOrquideario article img::active{
    transform: scale(3);
}

/*-----------
FOOTER
------------*/
footer{

    background-color: #9456eb5e;
    background-image: linear-gradient(180deg, #40297775 0%, #a467f87a 100%);
    box-shadow:0 8px 32px 0 rgba(31,38,135,0.37);
}
.nav-link .box-icon{
    color: #fff;
    transition: all 0.3s;

}
.nav-link box-icon:hover{
    filter: invert(100%);
    transform: scale(1.4);

}
/*-----------
RESPONSIVE
-----------*/
@media (min-width: 1200px){
    .navbar-nav a {

        font-size: 2vw;
    } 
    .hero-container h1{
        font-size: 5vw;
        
    }
    .hero-container p{
        font-size: 2vw;
    }
}
@media (max-width: 992px){
    .navbar-nav a{
        border-bottom: 1.5px solid hsla(0, 0%, 2%, 0.100);
        text-align: center;
    }
    .navbar-nav a:first-child{
        border-top: 1.5px solid hsla(0, 0%, 2%, 0.100);

    }
}
@media (max-width: 576px){
    .navbar-nav a{
        font-size: 1rem;
    }
    .hero{
        height:60vw ;
    }
    .hero-container h1,.containerMiStack h2{
        font-size: 7vw;
        
    }
    .hero-container p{
        font-size: 3vw;
    }
    .containerAcercaDe h2{
        font-size:7vw;
    }
    .containerAcercaDe p{
        font-size: 3.5vw;
    }
    .containerSkills img{
        height: 15vh;
    }
    .itemSkills{
        width: 50%;
        margin: 0;
    }    
    .containerMisProyectos h2{
        font-size:7vw;
    }
    .containerOrquideario{
        height: 100%;
    }
    .containerOrquideario article{
        display: flex;
        flex-direction: column;    
        height: 100%;
    }
    .containerOrquideario article img{
        display: flex;
        flex-direction: column;
        margin: 5px auto;
        width: 100%;
        height: 20%;
    }

}
@media (max-width: 375px){
    .hero{
        height:70vw ;       
    }
    .hero-container{
        width: 100%;
    }
    .hero-container h1{
        font-size: 8vw;
        
    }
    .hero-container p{
        font-size: 4vw;
    }
    .containerAcercaDe h2{
        font-size:8vw;
    }
    .containerAcercaDe p{
        font-size: 4vw;
    }
    .containerOrquideario a{
        font-size: 3.8vw;
    }
    .containerOrquideario article img:hover{
            width: 100%;

        }
    }
